<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/fragment/head :: common_head(~{::title})">
    <title>posts</title>
</head>
<body>
    <header th:replace="template/fragment/header :: common_header" />

    <div class="panel panel-default">
        <div class="panel-body">
            <h2>자유게시판</h2>
        </div>
    </div>
      
    <table class="table">
        <thead>
            <th>순서</th>
            <th>제목</th>
            <th>작성자</th>
            <th>시간</th>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th><a>게시판 첫글</a></th>
                <th>한솔</th>
                <th>2022-09-21</th>
            </tr>
            <tr>
                <th>2</th>
                <th><a>게시판 두번째글</a></th>
                <th>한솔</th>
                <th>2022-09-21</th>
            </tr>
        </tbody>
    </table>

    <div>
        <button class="btn-primary" th:onclick="|location.href='@{/board/reg}'|">게시글 등록</button>
    </div>
</body>
</html>