<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/fragment/head :: common_head(~{::title})">
    <title>posts</title>
</head>
<body>
    <header th:replace="template/fragment/header :: common_header" />

    <div class="panel panel-default">
        <div class="panel-body">
            <h2>자유게시판</h2>
        </div>
    </div>
      
    <table class="table">
        <thead>
            <th>순서</th>
            <th>제목</th>
            <th>작성자</th>
            <th>시간</th>
        </thead>
        <tbody>
            <tr th:each="post : ${posts}">
                <th th:text="${post.postId}">게시글 번호</th>
                <th><a th:href="@{/board/{boardId}/posts/{postId}(boardId=${boardId}, postId=${post.postId})}" th:text="${post.title}">게시글 제목</a></th>
                <th th:text="${post.regUser}">게시글 등록한 사람</th>
                <th th:text="${post.regTime}">게시글 생성 날짜/시간</th>
            </tr>
        </tbody>
    </table>

    <div>
        <button class="btn-primary" th:onclick="|location.href='@{/board/{boardId}/posts/reg(boardId=${boardId})}'|">게시글 등록</button>
    </div>
</body>
</html>