<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/fragment/head :: common_head(~{::title})">
</head>
<body>
    <header th:fragment="common_header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/board/posts">RESTful Board Example</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" th:each="board : ${boards}">
                        <li><a th:href="@{/board/posts/{boardId}(boardId=${board.boardId})}" th:text="${board.boardNm}">자유게시판</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a>사용자 이름</a></li>
                        <li><a href="#">로그인</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

</body>
</html>